body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
ul {
    list-style-type: none;
}

.authorisation {
    float: right;
}

.main_title {
    margin-bottom: 20px;
    float: left;
}

/*-----------------------
Заказы */
.orders {
    width: 980px;
    text-align: left;
    margin: 0 auto;
}
.orders table {

}
.orders th {
    background: #999;
    padding: 6px 10px;
}

/*date*/
.orders th:nth-child(2),
.orders th:nth-child(8){
    width: 75px;
}
/*textarea*/
.orders th:nth-child(3),
.orders th:nth-child(4){
    width: 130px;
}

.order {

}
.order td {
    padding: 6px 10px;
    /*background: #dcdcdc;*/
}
.order:nth-child(2n) {
    background: #c2c2c2;
}
.order:nth-child(odd) {
    background: #dcdcdc;
}
/*-----------------------
Заказы - редактирование */
.order td.edit {
    padding: 0;
}
.order [name="desc"],
.order [name="buyer"] {
    width: 150px;
    height: 50px;
    resize: none;
}
.order [type="ui_date"] {
    width: 72px;
    text-align: right;

}
/* end Редактирование */