body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
ul {
    list-style-type: none;
}

.authorisation {
    float: right;
}

.main_title {
    margin-bottom: 20px;
    float: left;
}

/*-----------------------
Заказы */
.table_1 {
    width: 980px;
    text-align: left;
    margin: 0 auto;
}
.table_1 table {
    /*width: 100%;*/
}

.table_1 th {
    background: #999;
    padding: 6px 10px;
}
.table_1 .num {
    min-width: 25px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

/*date*/
.table_1 .date {
    width: 75px;
}
/*textarea*/
.table_1 th:nth-child(3),
.table_1 th:nth-child(4){
    width: 130px;
}

.table_1 td {
    padding: 6px 10px;
    /*background: #dcdcdc;*/
}
.table_1 tr:nth-child(2n) {
    background: #c2c2c2;
}
.table_1 tr:nth-child(odd) {
    background: #dcdcdc;
}
/*-----------------------
Заказы - редактирование */
.table_1 td.edit {
    padding: 0;
}
.table_1 [name="desc"],
.table_1 [name="buyer"] {
    width: 150px;
    height: 50px;
    resize: none;
}
.table_1 [type="ui_date"] {
    width: 72px;
    text-align: right;
}
.table_1 [name="price"] {
    width: 60px;
    text-align: right;
}
.table_1 .button {
    width: 75px;
}
/* end Редактирование */